.index {
  position: relative;
  min-height: 100vh;
  background: #f4f4f4;
}

.gradients {
  background-image: linear-gradient(#ffa940, #f4f4f6 99%);

  .room-info-card {
    min-height: 96Px;
    border-radius: 5Px;

    .checkInDate {
      border-bottom: 1Px dashed rgba(0, 0, 0, .3);
      .roomNight{
        color: #999;
        border: 1px solid #999;
        padding: 0 10PX;
        border-radius: 18Px;
      }
    }
  }
}


.roomFacilities-wrap {

  .roomFacilities {
    flex: 0 0 33%;
    margin: 0;
  }
}

.cancelInfo {
  background: rgba(255, 231, 186, .44);
}

.at-form {
  &:after {
    border-top-width: 0;
    border-bottom-width: 0;
  }

  .at-input {
    margin-left: 0;

    &:after{
      border-color: #eee;
    }

    .at-input__title {
      font-size: 14Px;
      width: 90Px;
    }

    input {
      font-size: 12Px;
    }
  }

  .at-list__item {
    padding: 16Px 0;
    font-size: 14PX;

    &:after{
      border-color: #eee;
    }

    .item-extra__info {
      font-size: 12PX;
    }
  }

}

.at-list{
  &:after{
    border-color: #eee;
  }
}

.placeholder {
  font-size: 12PX;
}

.textAreaPlaceholder {
  font-size: 12PX;
}

.at-textarea {
  font-size: 12Px;
  border-color: #eee;
  textarea{
    height: 130Px;
  }
}

.at-textarea__textarea {
  font-size: 12Px;
}

.at-textarea__counter {
  font-size: 12PX;
}

.remark{
  height: 50PX;
  line-height: 50PX;
}

.remark-action{
  height: 30PX;
  line-height: 30PX;
}

.at-float-layout__container{
  min-height: 150PX;
  max-height: 300Px;
}

.remark-title{
  min-width: 70Px;
  max-width: 70Px;
}

.remark-text{
  max-width: calc(100vw - 112PX);
}

.footer-booking-wrap{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  .booking-btn{
    height: 50Px;
    line-height: 50Px;
    width: 150Px;
    border-radius: 0;
  }
}
