.index {
  min-height: 100vh;
  background: rgba(245, 246, 247, 1);
}

.at-tabs {
  padding-top: 43Px;
}

.at-tabs__header {
  position: fixed;
  top: 0;
  z-index: 1;

}

.at-activity-indicator {
  justify-content: center;
}

