.content{
  width: 300Px;
  margin: 100PX auto 0;
  .cuIcon-check2{
    font-size: 50PX;
    color: rgba(115,209,61,1);
    //background:linear-gradient(360deg,rgba(171,234,112,1) 0%,rgba(115,209,61,1) 100%);
  }
}

.goBackHome{
  width: 76PX;
  height: 30Px;
  line-height: 30PX;
}
